//Default Styles
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --carolina-blue: #76ABD1ff;
    --celestial-blue: #50A0D5ff;
    --silver-lake-blue: #6289B3ff;
    --columbia-blue: #C1DAF0ff;
    --alice-blue: #EFF7FEff;
    --dark-gray: #333;
    --french-gray: #D1D6DDff;
    --dark-bluesh:#798B9C;
    --skyblue:#4bacff;
    
}
:lang(en){
    --fontSize:16px;
    --menuNavtext: 13px;
}
:lang(en){
    --fontSize:16px;
    --menuNavtext: 13px;
    --bigFontsize: 30px;
    --smallFontsize: 14px;
}
body{
    font-family: 'PingFang SC';
    font-weight: normal;
    background-color: var(--alice-blue);
    background-image: url(../img/main-background.png);
}
h1{
    font-size: 56px;
}
h2{
    font-size: 42px;
}
h3{
    font-size: 36px;
}
h4{
    font-size: 26px;
}
h5{
    font-size: 22px;
}
h6{
    font-size: 20px;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 900;
    line-height: 1.4em;
}
p{
    line-height: 1.6em;
}
.color-dark-bluesh{
    color: var(--dark-bluesh);
}
.color-white-text{
    color: #fff;
}


.light-text{
    font-weight: 100;
}

.container{
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
    &.flex-between{
        justify-content: space-between;
        align-items: center;
    }
}
.slick-next, .slick-prev{
    width: 30px;
    height: 30px;
}
.slick-next:before, .slick-prev:before{
    color: var(--dark-bluesh);
    font-size: 30px;
}


.big-text{
    font-size: var(--bigFontsize);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.small-text{
    font-size: var(--smallFontsize);
    font-weight: 500;
}

.download-sec{
    position: relative;
    display: block;
    padding: 60px 0;

}
.title-left{
    display: block;
    position: relative;
    padding-left: 30px;
}
.border-trapiziod:after{
    width: 40px;
    height: 57px;
    display: block;
    clip-path: polygon(0 0, 36% 20%, 36% 80%, 0 100%);
    background-color: var(--skyblue);
    position: absolute;
    content: ""; 
    top:50%;
    left: 0;
    transform: translateY(-50%);
}
.border-gradient{
    position: relative;
    padding-top: 10px;
}
.border-gradient::before{
    content: "";
    height: 3px;
    width: 80px;
    background: transparent linear-gradient(90deg, #46ECFF 0%, #238CFF 100%) 0% 0% no-repeat;
    display: block;
    top: 0px;
    right: 0;
    position: absolute;
}


.download-wrapper{
    .flex-row{
        align-items: center;
        gap: 30px;
        .flex-column-1-3{
            flex: 0 calc(40% - 30px);
            img{
                display: block;
                max-width: 100%;
                height: auto;
                margin: 0 auto;
            }
        }
        .flex-column-2-3{
            flex: 0 calc(60% - 30px);
        }
    }
}

.content-box{
    width: 100%;
    color: var(--dark-bluesh);
    padding: 10px 0;
    h3{
        color: #000;
     + h4{
        font-size: 18px;
        margin-bottom: 15px;
     }   
    }
    &.right-align{
        text-align: right;
    }

}

.mini-side-bar{
    display: block;
    position: fixed;
    right: 0;
    top:25%;
    border-radius: 10px;
    background-color: #fff;
    z-index: 99;
    .side-bar-item-box{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 10px;
        .side-bar-item{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            text-decoration: none;
            position: relative;
            .side-bar-icon{
                width: 35px;
                height: 35px;
                margin: 8px auto ;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                &.download{
                    background-image: url(../img/301@2x.png);
                }
                &.info{
                    background-image: url(../img/302@2x.png);
                }
                &.customer{
                    background-image: url(../img/303@2x.png);
                }
                &.backtop{
                    background-image: url(../img/304@2x.png);
                }
            }
            
            .text{
                font-size: var(--smallFontsize);
                color: var(--dark-bluesh);
            }
            &:hover{
                cursor: pointer;
                .side-bar-icon{
                    &.download{
                        background-image: url(../img/301_active@2x.png);
                    }
                    &.info{
                        background-image: url(../img/302_active@2x.png);
                    }
                    &.customer{
                        background-image: url(../img/303_active@2x.png);
                    }
                    &.backtop{
                        background-image: url(../img/304_active@2x.png);
                    }
                }
            }
            .qrcode-tooltip{
                position: absolute;
                background-color: #fff;
                right: 80px;
                border-radius: 10px;
                top: -30px;
                width: 140px;
                padding: 10px;
                text-align: center;
                display: none;
                img{
                    display: block;
                    margin: 15px auto 0;
                }
                &:after{
                    border-left: solid transparent 10px;
                    border-right: solid transparent 10px;
                    border-top: solid #fff 10px;
                    top: 60px;
                    content: " ";
                    height: 0;
                    right: -15px;
                    position: absolute;
                    width: 0;
                    transform: rotateZ(-90deg);
                }
            }
            &:hover{
                .qrcode-tooltip{
                    display: block;
                }
            }
        }
    }
}
