header{
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    box-shadow: 0px 3px 6px #00000029;
    background: #FFFFFF;
    z-index: 999;
    nav{
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        .nav-menu{
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
            font-size: 14px;
            color:var(--dark-bluesh);
            margin-left: 30px;
            align-self: flex-start;
            align-items: flex-start;
            height: 100%;
            position: relative;
            flex-grow: 1;
            .nav-menu-list{
                display: flex;
                flex-wrap: nowrap;
                gap: 8px;
                >li{
                    list-style: none;
                    display: flex;
                    align-items: center;
                    height: 80px;
                    border-radius: 0px 0px 3px 3px;
                    > a{
                        display: flex;
                        flex-direction: column;
                        padding: 0 10px;
                        text-decoration: none;
                        color: inherit;
                        font-size: var(--menuNavtext);
                        line-height: 25px;
                        height: 100%;  
                        justify-content: flex-start;
                        align-items: center;
                        line-height: 1em;
                        text-align: center;
                        padding-top: 15px;
                        > img{
                           width: 20px;
                           margin-bottom:5px;
                        }
                    }
                    &:last-child{
                        margin-left: 50px;
                        a{

                        }
                    }
                    &:hover{
                        background: transparent linear-gradient(180deg, #A6D2F7 0%, #2595F2 19%, #257EC7 77%, #32A0FA 100%);
                        a{
                            color: #fff !important; 
                            > img{
                                filter: brightness(0) invert(1);
                            }
                        }
                    }
                    &.active{
                        background: transparent linear-gradient(180deg, #A6D2F7 0%, #2595F2 19%, #257EC7 77%, #32A0FA 100%);
                        a{
                            color: #fff !important; 
                            > img{
                                filter: brightness(0) invert(1);
                            }
                        }
                    }
                }
            }
        }
        .nav-link-group{
            background-image: url(../img/loginbg.png);
            width: 158px;
            height: 46px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            color: #fff;
            > a{
                color: #fff;
                text-decoration: none;
            }
        }
    }
    .mega-submenu{
        position: relative;
        background-color: #fff;
      
        .mega-menu-sub{
            position: absolute;
            .flex-row{
                align-items: center;
                gap: 60px;
                flex-wrap: wrap;
                justify-content: space-between;
                > .clients-megamenu{
                    width:  calc(85% - 30px);
                    min-width: 990px;
                }
                .qr-box{
                    width: calc(15% - 30px);
                    min-height: 218px !important;
                    display: flex;
                    align-items: center;
                    a{
                        display: flex !important;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        color: var(--dark-bluesh);
                        text-decoration: none;
                    }
                }
                .poker-megamenu{
                    display: flex;
                    flex-wrap: nowrap;
                    gap: 40px;
                    flex: 0 calc(85% - 30px);
                    width: 100%;
                    .poker{
                        width: calc(320px - 40px);
                        > img{
                            margin: 0 auto;
                            display: block;
                        }
                        > a{
                            margin-top: -38px;
                            padding-left: 20px
                        }
                    }
                    + .qr-box{
                        flex: 0 calc(15%  - 30px);
                    }
                }
                .esports-megamenu{
                    display: flex;
                    flex-wrap: nowrap;
                    gap: 40px;
                    flex: 0 calc(85% - 30px);
                    width: 100%;
                    max-height: 218px;
                }
                .lotto-megamenu{
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    gap: 40px;
                    flex: 0 calc(85% - 30px);
                    width: 100%;
                    max-height: 218px;
                }
                .promo-megamenu{
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    gap: 30px;
                    flex: 0 calc(85% - 30px);
                    width: 100%;
                    max-height: 218px;
                }
                
            }
            .mega-items{
                a{
                    display: flex;
                    flex-direction: column;
                    gap: 0;
                    align-items: center;
                    color: var(--dark-bluesh);
                    text-decoration: none;
                   
                }
             
                &.sports{
                    position: relative;
                    img{
                        margin: 0 auto 0;
                    }
                    > a{
                        display: block;
                    }
                    &:hover{
                        > img{
                            -webkit-filter: drop-shadow(5px 5px 5px var(--celestial-blue) );
                            filter: drop-shadow(5px 5px 5px var(--celestial-blue));
                        }
                        cursor: pointer;
                    }
                }
                &.casino{
                    img{
                        margin: 0 auto 0;
                    }
                    > a{
                        display: block;
                        > img{
                            margin-bottom: 14px !important;
                        }
                    }
                    &:hover{
                        > img{
                            -webkit-filter: drop-shadow(5px 5px 5px var(--celestial-blue) );
                            filter: drop-shadow(5px 5px 5px var(--celestial-blue));
                        }
                        cursor: pointer;
                    }
                }
                &.slot{
                    img{
                        margin: 0 auto 0;
                    }
                    > a{
                        display: block;
                        > img{
                            margin-bottom: 0px !important;
                        }
                    }
                    &:hover{
                        > img{
                            -webkit-filter: drop-shadow(5px 5px 5px var(--celestial-blue) );
                            filter: drop-shadow(5px 5px 5px var(--celestial-blue));
                        }
                        cursor: pointer;
                    }
                }
            }
        }
    }
    &.mega-menu-hidden{
        .mega-submenu{
            display: block;
            visibility: hidden;
            opacity: 0;
            transition: all 200ms linear;
            .mega-menu-sub{
                display: block;
                visibility: hidden;
                opacity: 0;
            }
        }
        &.mega-menu-on{
            .mega-submenu{
                display: block;
                visibility: visible;
                opacity: 1;
                height: 220px;
                overflow: hidden;
                .mega-menu-sub{
                    &.on{
                        display: block;
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
a{
    &.qr-code-bg{
        background-image: url(../img/code_container.png);
        width: 150px;
        height: 175px;
        background-size: contain;
    }
}