* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --carolina-blue: #76ABD1ff;
  --celestial-blue: #50A0D5ff;
  --silver-lake-blue: #6289B3ff;
  --columbia-blue: #C1DAF0ff;
  --alice-blue: #EFF7FEff;
  --dark-gray: #333;
  --french-gray: #D1D6DDff;
  --dark-bluesh:#798B9C;
  --skyblue:#4bacff;
  --cyan-blue: #4EECE2;
}

:lang(en) {
  --fontSize:16px;
  --menuNavtext: 13px;
}

:lang(en) {
  --fontSize:16px;
  --menuNavtext: 13px;
  --bigFontsize: 30px;
  --smallFontsize: 14px;
}

body {
  font-family: "PingFang SC";
  font-weight: normal;
  background-color: var(--alice-blue);
  background-image: url(../img/main-background.png);
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  line-height: 1.4em;
}

p {
  line-height: 1.6em;
}

.color-dark-bluesh {
  color: var(--dark-bluesh);
}

.color-white-text {
  color: #fff;
}

.light-text {
  font-weight: 100;
}

.container {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.flex-row.flex-between {
  justify-content: space-between;
  align-items: center;
}

.slick-next, .slick-prev {
  width: 30px;
  height: 30px;
}

.slick-next:before, .slick-prev:before {
  color: var(--dark-bluesh);
  font-size: 30px;
}

.big-text {
  font-size: var(--bigFontsize);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.small-text {
  font-size: var(--smallFontsize);
  font-weight: 500;
}

.download-sec {
  position: relative;
  display: block;
  padding: 60px 0;
}

.title-left {
  display: block;
  position: relative;
  padding-left: 30px;
}

.border-trapiziod:after {
  width: 40px;
  height: 57px;
  display: block;
  -webkit-clip-path: polygon(0 0, 36% 20%, 36% 80%, 0 100%);
          clip-path: polygon(0 0, 36% 20%, 36% 80%, 0 100%);
  background-color: var(--skyblue);
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.border-gradient {
  position: relative;
  padding-top: 10px;
}

.border-gradient::before {
  content: "";
  height: 3px;
  width: 80px;
  background: transparent linear-gradient(90deg, #46ECFF 0%, #238CFF 100%) 0% 0% no-repeat;
  display: block;
  top: 0px;
  right: 0;
  position: absolute;
}

.download-wrapper .flex-row {
  align-items: center;
  gap: 30px;
}
.download-wrapper .flex-row .flex-column-1-3 {
  flex: 0 calc(40% - 30px);
}
.download-wrapper .flex-row .flex-column-1-3 img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.download-wrapper .flex-row .flex-column-2-3 {
  flex: 0 calc(60% - 30px);
}

.content-box {
  width: 100%;
  color: var(--dark-bluesh);
  padding: 10px 0;
}
.content-box h3 {
  color: #000;
}
.content-box h3 + h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
.content-box.right-align {
  text-align: right;
}

.mini-side-bar {
  display: block;
  position: fixed;
  right: 0;
  top: 25%;
  border-radius: 10px;
  background-color: #fff;
  z-index: 99;
}
.mini-side-bar .side-bar-item-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
}
.mini-side-bar .side-bar-item-box .side-bar-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  position: relative;
}
.mini-side-bar .side-bar-item-box .side-bar-item .side-bar-icon {
  width: 35px;
  height: 35px;
  margin: 8px auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.mini-side-bar .side-bar-item-box .side-bar-item .side-bar-icon.download {
  background-image: url(../img/301@2x.png);
}
.mini-side-bar .side-bar-item-box .side-bar-item .side-bar-icon.info {
  background-image: url(../img/302@2x.png);
}
.mini-side-bar .side-bar-item-box .side-bar-item .side-bar-icon.customer {
  background-image: url(../img/303@2x.png);
}
.mini-side-bar .side-bar-item-box .side-bar-item .side-bar-icon.backtop {
  background-image: url(../img/304@2x.png);
}
.mini-side-bar .side-bar-item-box .side-bar-item .text {
  font-size: var(--smallFontsize);
  color: var(--dark-bluesh);
}
.mini-side-bar .side-bar-item-box .side-bar-item:hover {
  cursor: pointer;
}
.mini-side-bar .side-bar-item-box .side-bar-item:hover .side-bar-icon.download {
  background-image: url(../img/301_active@2x.png);
}
.mini-side-bar .side-bar-item-box .side-bar-item:hover .side-bar-icon.info {
  background-image: url(../img/302_active@2x.png);
}
.mini-side-bar .side-bar-item-box .side-bar-item:hover .side-bar-icon.customer {
  background-image: url(../img/303_active@2x.png);
}
.mini-side-bar .side-bar-item-box .side-bar-item:hover .side-bar-icon.backtop {
  background-image: url(../img/304_active@2x.png);
}
.mini-side-bar .side-bar-item-box .side-bar-item .qrcode-tooltip {
  position: absolute;
  background-color: #fff;
  right: 80px;
  border-radius: 10px;
  top: -30px;
  width: 140px;
  padding: 10px;
  text-align: center;
  display: none;
}
.mini-side-bar .side-bar-item-box .side-bar-item .qrcode-tooltip img {
  display: block;
  margin: 15px auto 0;
}
.mini-side-bar .side-bar-item-box .side-bar-item .qrcode-tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #fff 10px;
  top: 60px;
  content: " ";
  height: 0;
  right: -15px;
  position: absolute;
  width: 0;
  transform: rotateZ(-90deg);
}
.mini-side-bar .side-bar-item-box .side-bar-item:hover .qrcode-tooltip {
  display: block;
}

@font-face {
  font-family: "PingFang SC";
  src: url("./fonts/PingFangSCBold.woff2") format("woff2"), url("./fonts/PingFangSCBold.woff") format("woff"), url("./fonts/PingFangSCBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PingFang SC";
  src: url("./fonts/PingFangSCHeavy.woff2") format("woff2"), url("./fonts/PingFangSCHeavy.woff") format("woff"), url("./fonts/PingFangSCHeavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PingFang SC";
  src: url("./fonts/PingFangSCRegular.woff2") format("woff2"), url("./fonts/PingFangSCRegular.woff") format("woff"), url("./fonts/PingFangSCRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PingFang SC";
  src: url("./fonts/SFProPingFangSC-Medium.woff2") format("woff2"), url("./fonts/SFProPingFangSC-Medium.woff") format("woff"), url("./fonts/SFProPingFangSC-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
header {
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  background: #FFFFFF;
  z-index: 999;
}
header nav {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
header nav .nav-menu {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  color: var(--dark-bluesh);
  margin-left: 30px;
  align-self: flex-start;
  align-items: flex-start;
  height: 100%;
  position: relative;
  flex-grow: 1;
}
header nav .nav-menu .nav-menu-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
}
header nav .nav-menu .nav-menu-list > li {
  list-style: none;
  display: flex;
  align-items: center;
  height: 80px;
  border-radius: 0px 0px 3px 3px;
}
header nav .nav-menu .nav-menu-list > li > a {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  text-decoration: none;
  color: inherit;
  font-size: var(--menuNavtext);
  line-height: 25px;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  line-height: 1em;
  text-align: center;
  padding-top: 15px;
}
header nav .nav-menu .nav-menu-list > li > a > img {
  width: 20px;
  margin-bottom: 5px;
}
header nav .nav-menu .nav-menu-list > li:last-child {
  margin-left: 50px;
}
header nav .nav-menu .nav-menu-list > li:hover {
  background: transparent linear-gradient(180deg, #A6D2F7 0%, #2595F2 19%, #257EC7 77%, #32A0FA 100%);
}
header nav .nav-menu .nav-menu-list > li:hover a {
  color: #fff !important;
}
header nav .nav-menu .nav-menu-list > li:hover a > img {
  filter: brightness(0) invert(1);
}
header nav .nav-menu .nav-menu-list > li.active {
  background: transparent linear-gradient(180deg, #A6D2F7 0%, #2595F2 19%, #257EC7 77%, #32A0FA 100%);
}
header nav .nav-menu .nav-menu-list > li.active a {
  color: #fff !important;
}
header nav .nav-menu .nav-menu-list > li.active a > img {
  filter: brightness(0) invert(1);
}
header nav .nav-link-group {
  background-image: url(../img/loginbg.png);
  width: 158px;
  height: 46px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #fff;
}
header nav .nav-link-group > a {
  color: #fff;
  text-decoration: none;
}
header .mega-submenu {
  position: relative;
  background-color: #fff;
}
header .mega-submenu .mega-menu-sub {
  position: absolute;
}
header .mega-submenu .mega-menu-sub .flex-row {
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: space-between;
}
header .mega-submenu .mega-menu-sub .flex-row > .clients-megamenu {
  width: calc(85% - 30px);
  min-width: 990px;
}
header .mega-submenu .mega-menu-sub .flex-row .qr-box {
  width: calc(15% - 30px);
  min-height: 218px !important;
  display: flex;
  align-items: center;
}
header .mega-submenu .mega-menu-sub .flex-row .qr-box a {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--dark-bluesh);
  text-decoration: none;
}
header .mega-submenu .mega-menu-sub .flex-row .poker-megamenu {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  flex: 0 calc(85% - 30px);
  width: 100%;
}
header .mega-submenu .mega-menu-sub .flex-row .poker-megamenu .poker {
  width: 280px;
}
header .mega-submenu .mega-menu-sub .flex-row .poker-megamenu + .qr-box {
  flex: 0 calc(15% - 30px);
}
header .mega-submenu .mega-menu-sub .flex-row .esports-megamenu {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  flex: 0 calc(85% - 30px);
  width: 100%;
  max-height: 218px;
}
header .mega-submenu .mega-menu-sub .flex-row .lotto-megamenu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 40px;
  flex: 0 calc(85% - 30px);
  width: 100%;
  max-height: 218px;
}
header .mega-submenu .mega-menu-sub .flex-row .promo-megamenu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 30px;
  flex: 0 calc(85% - 30px);
  width: 100%;
  max-height: 218px;
}
header .mega-submenu .mega-menu-sub .flex-row .agent-megamenu {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
header .mega-submenu .mega-menu-sub .flex-row .agent-megamenu .agent-feature-img {
  flex: 0 280px;
}
header .mega-submenu .mega-menu-sub .flex-row .agent-megamenu .agent-content {
  flex: 1 1;
}
header .mega-submenu .mega-menu-sub .flex-row .agent-megamenu .agent-content h2 {
  font-size: 32px;
}
header .mega-submenu .mega-menu-sub .flex-row .agent-megamenu .agent-content h3 {
  font-size: 26px;
  color: var(--skyblue);
}
header .mega-submenu .mega-menu-sub .flex-row .agent-megamenu .agent-content .agent-list {
  margin: 0;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding: 30px 20px;
  justify-content: center;
}
header .mega-submenu .mega-menu-sub .flex-row .agent-megamenu .agent-content .agent-list li {
  list-style: none;
  background-color: var(--skyblue);
  color: #fff;
  padding: 10px 15px;
  border-radius: 30px;
}
header .mega-submenu .mega-menu-sub .mega-items a {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  color: var(--dark-bluesh);
  text-decoration: none;
  justify-content: center;
}
header .mega-submenu .mega-menu-sub .mega-items a > span {
  padding: 10px 0;
}
header .mega-submenu .mega-menu-sub .mega-items.sports {
  position: relative;
}
header .mega-submenu .mega-menu-sub .mega-items.sports img {
  margin: 0 auto 0;
}
header .mega-submenu .mega-menu-sub .mega-items.sports > a {
  display: block;
  text-align: center;
}
header .mega-submenu .mega-menu-sub .mega-items.sports > a > span {
  padding: 10px 0;
  display: inline-block;
}
header .mega-submenu .mega-menu-sub .mega-items.sports:hover {
  cursor: pointer;
}
header .mega-submenu .mega-menu-sub .mega-items.sports:hover > img {
  filter: drop-shadow(5px 5px 5px var(--celestial-blue));
}
header .mega-submenu .mega-menu-sub .mega-items.poker {
  position: relative;
}
header .mega-submenu .mega-menu-sub .mega-items.poker img {
  margin: 0 auto 0;
  display: block;
}
header .mega-submenu .mega-menu-sub .mega-items.poker > a {
  display: block;
  text-align: center;
}
header .mega-submenu .mega-menu-sub .mega-items.poker > a img {
  display: block;
}
header .mega-submenu .mega-menu-sub .mega-items.poker > a > span {
  padding: 10px 0;
  display: inline-block;
}
header .mega-submenu .mega-menu-sub .mega-items.poker:hover {
  cursor: pointer;
}
header .mega-submenu .mega-menu-sub .mega-items.poker:hover > img {
  filter: drop-shadow(5px 5px 5px var(--celestial-blue));
}
header .mega-submenu .mega-menu-sub .mega-items.casino img {
  margin: 0 auto 0;
}
header .mega-submenu .mega-menu-sub .mega-items.casino > a {
  display: block;
  text-align: center;
}
header .mega-submenu .mega-menu-sub .mega-items.casino > a > img {
  margin-bottom: 14px !important;
}
header .mega-submenu .mega-menu-sub .mega-items.casino > a > span {
  padding: 10px 0;
  display: inline-block;
}
header .mega-submenu .mega-menu-sub .mega-items.casino:hover {
  cursor: pointer;
}
header .mega-submenu .mega-menu-sub .mega-items.casino:hover > img {
  filter: drop-shadow(5px 5px 5px var(--celestial-blue));
}
header .mega-submenu .mega-menu-sub .mega-items.slot img {
  margin: 0 auto 0;
}
header .mega-submenu .mega-menu-sub .mega-items.slot > a {
  display: block;
  text-align: center;
}
header .mega-submenu .mega-menu-sub .mega-items.slot > a > img {
  margin-bottom: 0px !important;
}
header .mega-submenu .mega-menu-sub .mega-items.slot > a > span {
  padding: 10px 0;
  display: inline-block;
}
header .mega-submenu .mega-menu-sub .mega-items.slot:hover {
  cursor: pointer;
}
header .mega-submenu .mega-menu-sub .mega-items.slot:hover > img {
  filter: drop-shadow(5px 5px 5px var(--celestial-blue));
}
header.mega-menu-hidden .mega-submenu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: all 200ms linear;
}
header.mega-menu-hidden .mega-submenu .mega-menu-sub {
  display: block;
  visibility: hidden;
  opacity: 0;
}
header.mega-menu-hidden.mega-menu-on .mega-submenu {
  display: block;
  visibility: visible;
  opacity: 1;
  height: 247px;
  overflow: hidden;
}
header.mega-menu-hidden.mega-menu-on .mega-submenu .mega-menu-sub.on {
  display: block;
  visibility: visible;
  opacity: 1;
}

a.qr-code-bg {
  background-image: url(../img/code_container.png);
  width: 150px;
  height: 175px;
  background-size: contain;
}

.banner-section {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}
.banner-section img {
  max-width: 100%;
  height: auto;
}
.banner-section .slick-next, .banner-section .slick-prev {
  z-index: 99;
}
.banner-section .slick-next {
  right: 25px;
}
.banner-section .slick-prev {
  left: 25px;
}
.banner-section .slick-dots {
  bottom: 80px;
}
.banner-section .slick-dots button:before {
  font-size: 12px;
}
.banner-section .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: var(--skyblue);
}

.announcement-sec {
  display: block;
  margin-top: -95px;
  position: relative;
  z-index: 8;
}

.announcement-bar {
  width: 100%;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: var(--dark-bluesh);
}
.announcement-bar::before {
  content: url(../img/GG.png);
}

.tab-module {
  margin: 20px 0 40px;
}
.tab-module .tab-control {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  gap: 10px;
  width: 95%;
  justify-content: center;
  margin: 0 auto;
}
.tab-module .tab-control > li {
  list-style: none;
  flex: 0 calc(16.6666666667% - 10px);
  text-align: center;
  position: relative;
  height: 44px;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
}
.tab-module .tab-control > li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 4px 4px 0 0;
  box-sizing: border-box;
  width: 172px;
  height: 8px;
  background: #bbbcbd;
  display: block;
}
.tab-module .tab-control > li.active::after, .tab-module .tab-control > li:hover::after {
  background-color: var(--skyblue);
}
.tab-module .tab-control > li:hover {
  color: var(--skyblue);
}
.tab-module .tab-content-panel {
  background-image: linear-gradient(90deg, rgba(245, 249, 255, 0.99608) 0%, rgb(247, 251, 254) 100%);
  background-image: -ms-linear-gradient(90deg, rgba(245, 249, 255, 0.99608) 0%, rgb(247, 251, 254) 100%);
  border-radius: 10px;
  display: block;
  height: auto;
  width: 100%;
  box-shadow: 0px 4px 10px 2px rgba(174, 200, 228, 0.4);
  padding: 30px;
}
.tab-module .tab-content-panel .tab-content {
  display: none;
}
.tab-module .tab-content-panel .tab-content .tab-flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.tab-module .tab-content-panel .tab-content .tab-flex .tab-image {
  flex: 0 auto;
}
.tab-module .tab-content-panel .tab-content .tab-flex .tab-image img {
  width: 150px;
  height: auto;
}
.tab-module .tab-content-panel .tab-content .tab-flex .tab-title {
  flex: 0 250px;
  text-align: center;
}
.tab-module .tab-content-panel .tab-content .tab-flex .tab-title h3 {
  line-height: 1em !important;
}
.tab-module .tab-content-panel .tab-content .tab-flex .tab-title h3 > small {
  display: block;
  font-size: 16px;
  color: var(--dark-bluesh);
  line-height: 1em;
}
.tab-module .tab-content-panel .tab-content .tab-provider {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 20px;
}
.tab-module .tab-content-panel .tab-content.active {
  display: block;
}

.game-provider {
  display: block;
  width: 120px;
  height: 120px;
  font-size: 14px;
  color: #fff;
  margin-right: 20px;
  border-radius: 8px;
  background-image: url(../img/game-provide-box-default.png);
  background-size: cover;
  transition: all 200ms linear;
  position: relative;
}
.game-provider > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -78%);
  width: 34px;
  height: auto;
}
.game-provider span {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 12px;
  text-align: center;
}
.game-provider:hover, .game-provider.active {
  background-image: url(../img/game-provide-box.png);
  cursor: pointer;
}

.service-quality {
  padding: 30px 0;
}
.service-quality .services-box {
  background: #F0F6FF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #E4EBF9;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 5px;
}
.service-quality .services-box > .flex-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}
.service-quality .services-box .service-img {
  flex: 0 122px;
  text-align: center;
}
.service-quality .services-box .service-img img {
  display: block;
  margin: 0 auto;
}
.service-quality .services-box .service-title {
  flex: 0 200px;
}
.service-quality .services-box .service-title h3 {
  margin: 0 !important;
  line-height: normal;
  font-size: 26px;
}
.service-quality .services-box .service-title h3 small {
  font-size: var(--smallFontsize);
  display: block;
  color: var(--dark-bluesh);
}
.service-quality .services-box .service-copy {
  flex: 1 1;
  padding-right: 30px;
}

footer {
  margin-top: 60px;
  background-color: #30383f;
  padding: 0px 0;
  display: block;
}
footer .footer-icon {
  padding: 10px 0;
  border-bottom: 1px solid #3e4655;
}
footer .footer-icon img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
footer .footer-certificates {
  padding: 50px 0;
  border-bottom: 1px solid #3e4655;
}
footer .footer-certificates .flex-row {
  max-width: 1020px;
  margin: 0 auto;
  gap: 30px;
}
footer .footer-certificates .flex-row > div:first-child {
  flex: 0 260px;
}
footer .footer-certificates .flex-row > div:last-child {
  flex: 1 1;
}
footer .footer-certificates .flex-row p {
  font-size: var(--fontSize);
  color: #888FA5;
}
footer .footer-certificates .brand-wrapper {
  display: flex;
  flex-wrap: nowrap;
  padding: 30px 0 0;
  max-width: 1020px;
  margin: 0 auto;
  justify-content: center;
}
footer .footer-certificates .brand-wrapper > .brand-item {
  flex: 0 225px;
  text-align: center;
}
footer .footer-certificates .brand-wrapper > .brand-item img {
  display: block;
  margin: 0 auto 20px;
}
footer .footer-certificates .brand-wrapper > .brand-item .brand-name {
  color: #888FA5;
}
footer .footer-link {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px 0;
  justify-content: center;
}
footer .footer-link .link_item a {
  padding: 0 20px;
  color: #888FA5;
  text-decoration: none;
}