* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --carolina-blue: #76ABD1ff;
  --celestial-blue: #50A0D5ff;
  --silver-lake-blue: #6289B3ff;
  --columbia-blue: #C1DAF0ff;
  --alice-blue: #EFF7FEff;
  --dark-gray: #333;
  --french-gray: #D1D6DDff;
  --dark-bluesh:#798B9C;
}

:lang(en) {
  --fontSize:16px;
  --menuNavtext: 13px;
}

body {
  font-family: "PingFang SC";
  font-weight: normal;
  background-color: var(--alice-blue);
  background-image: url(../img/main-background.png);
}

.container {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.slick-next, .slick-prev {
  width: 30px;
  height: 30px;
}

.slick-next:before, .slick-prev:before {
  color: var(--dark-bluesh);
  font-size: 30px;
}

@font-face {
  font-family: "PingFang SC";
  src: url("/css/fonts/PingFangSCBold.woff2") format("woff2"), url("/css/fonts/PingFangSCBold.woff") format("woff"), url("/css/fonts/PingFangSCBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PingFang SC";
  src: url("/css/fonts/PingFangSCHeavy.woff2") format("woff2"), url("/css/fonts/PingFangSCHeavy.woff") format("woff"), url("/css/fonts/PingFangSCHeavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PingFang SC";
  src: url("/css/fonts/PingFangSCRegular.woff2") format("woff2"), url("/css/fonts/PingFangSCRegular.woff") format("woff"), url("/css/fonts/PingFangSCRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PingFang SC";
  src: url("/fonts/SFProPingFangSC-Medium.woff2") format("woff2"), url("/fonts/SFProPingFangSC-Medium.woff") format("woff"), url("/fonts/SFProPingFangSC-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
header {
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  background: #FFFFFF;
  z-index: 999;
}
header nav {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
header nav .nav-menu {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  color: var(--dark-bluesh);
  margin-left: 30px;
  align-self: flex-start;
  align-items: flex-start;
  height: 100%;
  position: relative;
  flex-grow: 1;
}
header nav .nav-menu .nav-menu-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
}
header nav .nav-menu .nav-menu-list > li {
  list-style: none;
  display: flex;
  align-items: center;
  height: 80px;
  border-radius: 0px 0px 3px 3px;
}
header nav .nav-menu .nav-menu-list > li > a {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  text-decoration: none;
  color: inherit;
  font-size: var(--menuNavtext);
  line-height: 25px;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  line-height: 1em;
  text-align: center;
  padding-top: 15px;
}
header nav .nav-menu .nav-menu-list > li > a > img {
  width: 20px;
  margin-bottom: 5px;
}
header nav .nav-menu .nav-menu-list > li:last-child {
  margin-left: 50px;
}
header nav .nav-menu .nav-menu-list > li:hover {
  background: transparent linear-gradient(180deg, #A6D2F7 0%, #2595F2 19%, #257EC7 77%, #32A0FA 100%);
}
header nav .nav-menu .nav-menu-list > li:hover a {
  color: #fff !important;
}
header nav .nav-menu .nav-menu-list > li:hover a > img {
  filter: brightness(0) invert(1);
}
header nav .nav-menu .nav-menu-list > li.active {
  background: transparent linear-gradient(180deg, #A6D2F7 0%, #2595F2 19%, #257EC7 77%, #32A0FA 100%);
}
header nav .nav-menu .nav-menu-list > li.active a {
  color: #fff !important;
}
header nav .nav-menu .nav-menu-list > li.active a > img {
  filter: brightness(0) invert(1);
}
header nav .nav-link-group {
  background-image: url(../img/loginbg.png);
  width: 158px;
  height: 46px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #fff;
}
header nav .nav-link-group > a {
  color: #fff;
  text-decoration: none;
}
header .mega-submenu {
  position: relative;
  background-color: #fff;
}
header .mega-submenu .mega-menu-sub {
  position: absolute;
}
header .mega-submenu .mega-menu-sub .flex-row {
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}
header .mega-submenu .mega-menu-sub .flex-row > .clients-megamenu {
  width: calc(85% - 60px);
}
header .mega-submenu .mega-menu-sub .flex-row .qr-box {
  width: calc(15% - 60px);
}
header .mega-submenu .mega-menu-sub .flex-row .qr-box a {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--dark-bluesh);
  text-decoration: none;
}
header .mega-submenu .mega-menu-sub .mega-items a {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  color: var(--dark-bluesh);
  text-decoration: none;
}
header .mega-submenu .mega-menu-sub .mega-items a > img {
  margin-top: 5px;
}
header .mega-submenu .mega-menu-sub .mega-items img {
  margin: 0 auto 0;
}
header .mega-submenu .mega-menu-sub .mega-items.sports {
  position: relative;
}
header .mega-submenu .mega-menu-sub .mega-items.sports img {
  margin: 0 auto 0;
}
header .mega-submenu .mega-menu-sub .mega-items.sports > a {
  display: block;
}
header .mega-submenu .mega-menu-sub .mega-items.sports:hover {
  cursor: pointer;
}
header .mega-submenu .mega-menu-sub .mega-items.sports:hover > img {
  filter: drop-shadow(5px 5px 5px var(--celestial-blue));
}
header.mega-menu-hidden .mega-submenu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: all 200ms linear;
}
header.mega-menu-hidden .mega-submenu .mega-menu-sub {
  display: block;
  visibility: hidden;
  opacity: 0;
}
header.mega-menu-hidden.mega-menu-on .mega-submenu {
  display: block;
  visibility: visible;
  opacity: 1;
  height: 250px;
  overflow: hidden;
}
header.mega-menu-hidden.mega-menu-on .mega-submenu .mega-menu-sub.on {
  display: block;
  visibility: visible;
  opacity: 1;
}

a.qr-code-bg {
  background-image: url(../img/code_container.png);
  width: 150px;
  height: 175px;
  background-size: contain;
}

.banner-section {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}
.banner-section img {
  max-width: 100%;
  height: auto;
}

.announcement-sec {
  display: block;
  margin-top: -95px;
  position: relative;
  z-index: 8;
}

.announcement-bar {
  width: 100%;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: var(--dark-bluesh);
}
.announcement-bar::before {
  content: url(../img/GG.png);
}