/*Default css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --carolina-blue: #76ABD1ff;
    --celestial-blue: #50A0D5ff;
    --silver-lake-blue: #6289B3ff;
    --columbia-blue: #C1DAF0ff;
    --alice-blue: #EFF7FEff;
    --dark-gray: #333;
    --french-gray: #D1D6DDff;
    --dark-bluesh:#798B9C;
    --skyblue:#4bacff;
    --bg-orginal-color: #E9F5FE;
    --nav-color-text:#30383F;
  }
body{
    background-color: var(--bg-orginal-color);
    font-family:  "PingFang SC", Microsoft YaHei, Helvetica, sans-serif;
}
.container{
    max-width: 95%;
    margin: 0 auto;
    display: block;
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
}
.announcement-sec{
    display: block;
    padding: 10px 0;
    position: relative;
    z-index: 8;
}
.announcement-bar{
    flex: 1;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 30px;
    color: var(--dark-bluesh);
    position: relative;
    &::before{
        content: url(../img/gg_app@2x.png);
        position: absolute;
        left: 0;
    }
}
.right-bar{
    flex: 0  1;
    > a{
        display: block;
    }
}

.page-container{
    overflow-y: auto;
}