footer{
    background-image: url(../img/app_menubg@2x.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-bottom: env(safe-area-inset-bottom);
    height: 13.06vw;
    background-position: left -0.8vw;
    width: 100%;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    .footer-menu{
        display: flex;
        flex-wrap: wrap;
        .footer-menu-items{
            flex: 1;
            position: relative;
            font-size: 2.66667vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--dark-bluesh);
            .menu-icon{
                width: 5.33333vw;
                height: 5.2vw;
                margin-top: 1.4vw;
                margin-bottom: 1vw;
                background-size: contain;
                background-repeat: no-repeat;
                &.home{
                    background-image: url(../img/home_icon@2x.png);
                }
                &.discount{
                    background-image: url(../img/prom_icon@2x.png);
                }
                &.deposit{
                    width: 12vw;
                    height: 12vw;
                    top: -7.4vw;
                    position: absolute;
                    background-image: url(../img/deposit_Ani.gif);
                    background-color: #fff;
                    border-radius: 50%;
                    background-position-y: 1vw;
                    border: 0.5vw solid #95abcf8f;
                    box-shadow: 0vw 1vw 1vw rgba($color: #576b8b, $alpha: 0.2);
                    + .menu-name{
                        margin-top: 7.4vw;
                    }
                }
                &.promo{
                    background-image: url(../img/Affiliate_icon@2x.png);
                }
                &.profile{
                    background-image: url(../img/my_icon@2x.png);
                }
            }
            &.active, &:hover{
                cursor: pointer;
                .home{
                    background-image: url(../img/home_icon_active@2x.png);
                }
                .discount{
                    background-image: url(../img/prom_iconHover@2x.png);
                }
                .deposit{
                    background-image: url(../img/deposit_Ani.gif);
                }
                .promo{
                    background-image: url(../img/Affiliate_iconHover@2x.png);
                }
                .profile{
                    background-image: url(../img/my_iconHover@2x.png);
                }
                .menu-name{
                    color:var(--skyblue);
                }
            }
        }
    }
}