header{
    position: relative;
    display: block;
    padding: 5px 0;
    .header-wrapper{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        .logo-div{
            flex: 60%;
            .logo-holder{
                width: 44vw;
                color: transparent;
                background-image: url(../img/logo_app@2x.png);
                height: 11vw;
                display: block;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                max-width: 40vw;
                margin: 0 auto;
            }
        }
        .right-menu{
            flex: 0 20%;
            display: flex;
            flex-wrap: nowrap;
            gap: 2vw;
            align-items: center;
            justify-content: flex-end;
            .login-bar{
                a{
                    font-size: 3vw;
                    text-decoration: none;
                    color: var(--dark-bluesh);
                    font-weight: 900;
                }
            }
            img{
                height: 5vw;
            }
        }
        .nav-burger-btn{
            flex: 0 20%;
            --burgerline: 0.68vw;
            .burger-btn{
                width: 5vw;
                height: 4vw;
                position: relative;
                display: block;
                background-color: transparent;
                i{
                    width: 100%;
                    display: block;
                    height: var(--burgerline);
                    background-color: #30383F;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    border-radius: 2px;
                    transition: all 200ms linear;
                }
                &::before{
                    content: "";
                    width: 100%;
                    display: block;
                    height: var(--burgerline);
                    background-color: #30383F;
                    position: absolute;
                    top: 0%;
                    left: 0;
                    border-radius: 2px;
                    transition: all 200ms linear;
                }
                &::after{
                    content: "";
                    width: 100%;
                    display: block;
                    height: var(--burgerline);
                    background-color: #30383F;
                    position: absolute;
                    bottom: 0%;
                    left: 0;
                    border-radius: 2px;
                    transition: all 200ms linear;
                }
                
            }
        }
    }
}
/*
NAVIGATION
*/
nav{
    position: fixed;
    width: 60vw;
    height: 100%;
    background-color: #fff;
    z-index: 99999;
    box-shadow: 0px 3px 6px #00000029;
    padding: 3vw;
    left: -120%;
    transition: all 200ms linear;
    .navigation{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        position: relative;
        p{
            text-align: center;
            font-size: 3vw;
        }
        button{
            position: absolute;
            top: 0;
            right: 0;
            width: 5vw;
            height: 5vw;
            border: none;
            font-size: 3.75vw; 
        }
        .menu-nav{
            padding: 0;
            margin: 8vw 0;
            li{
                list-style: none;
                padding: 0;
                display: block;
                border-top: 1px solid #F8F8F8;
                border-bottom: 1px solid #F8F8F8;
                a{
                    display: flex;
                    font-size: 3.75vw;
                    padding: 3vw 1.2vw ;
                    color: var(--nav-color-text);
                    flex-wrap: nowrap;
                    align-items: center;
                    gap: 2vw;
                    > .icon{
                        width: 5vw;
                        height: 5vw;
                        background-color: var(--dark-bluesh);
                        display: inline-block;
                    }
                }
            }
        }
    }

    
}


.translation-div{
    position: relative;
    padding: 0 ;
    #langToggle{
        width: 5vw;
        height: 5vw;
        display: block;
        background-size: contain;
        transition: all 100ms linear;
        cursor: pointer;
        &.lang_TH{
            background-image: url(../img/thai_flag.svg);
            
        }
        &.lang_MS{
            background-image: url(../img/malay_flag.svg);
            
        }
        &.lang_ID{
            background-image: url(../img/indonesia_flag.svg);
            
        }
        &.lang_VI{
            background-image: url(../img/vietnam_flag.svg);
            
        }
    }
    .lang-menu{
        transition: all 140ms ease-in;
        height: 0;
        opacity: 0;
        position: absolute;
        background-color: #fff;
        border-radius: 12px;
        padding: 2vw 2.5vw;
        right: 0;
        top: 45px;
        width: 50vw;
        z-index: 99;
        box-shadow: 0px 3px 6px #00000029;
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                display: flex;
                align-items: center;
                gap: 10px;
                color: #1B4263;
                padding: 5px 0;
                .country-flag{
                    width: 5vw;
                }
                .country{
                    font-weight: 900;
                    font-family: "PingFang SC";
                    font-size: 4vw;
                }
                .lang-option{
                    font-size: 3vw;
                     font-family: Arial, Helvetica, sans-serif;
                    span{
                        cursor: pointer;
                        &.disable{
                            cursor: not-allowed;
                            color: #9BA9B1;
                        }
                    }
                }
            }
        }
        .close-lang{
            position: absolute;
            top: -5px;
            right: -5px;
            width: 26px;
            height: 26px;
            background-color: #878787;
            color: #fff;
            border: none;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}
