/*Default css*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --carolina-blue: #76ABD1ff;
  --celestial-blue: #50A0D5ff;
  --silver-lake-blue: #6289B3ff;
  --columbia-blue: #C1DAF0ff;
  --alice-blue: #EFF7FEff;
  --dark-gray: #333;
  --french-gray: #D1D6DDff;
  --dark-bluesh:#798B9C;
  --skyblue:#4bacff;
  --bg-orginal-color: #E9F5FE;
  --nav-color-text:#30383F;
}

body {
  background-color: var(--bg-orginal-color);
  font-family: "PingFang SC", Microsoft YaHei, Helvetica, sans-serif;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  display: block;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.announcement-sec {
  display: block;
  padding: 10px 0;
  position: relative;
  z-index: 8;
}

.announcement-bar {
  flex: 1;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 30px;
  color: var(--dark-bluesh);
  position: relative;
}
.announcement-bar::before {
  content: url(../img/gg_app@2x.png);
  position: absolute;
  left: 0;
}

.right-bar {
  flex: 0 1;
}
.right-bar > a {
  display: block;
}
.right-bar > a > img {
  width: 22vw;
}

.page-container {
  overflow-y: auto;
}

.login-bar {
  display: flex;
  padding: 1vw 0 2vw;
  gap: 2vw;
  flex: 0 100%;
  justify-content: center;
}
.login-bar .btn-primary {
  display: block;
  text-align: center;
  min-width: 22vw;
  padding: 1.4vw 4vw;
  border-radius: 4vw;
  color: #fff;
  font-size: 3vw;
  font-family: "PingFang SC", Microsoft YaHei, Helvetica, sans-serif;
  text-decoration: none;
  transition: all 200ms linear;
  background: transparent linear-gradient(358deg, #2290FF 0%, #39CAFF 100%) 0% 0% no-repeat padding-box;
}
.login-bar .btn-primary:hover {
  background: transparent linear-gradient(180deg, #33475B 0%, #515874 100%) 0% 0% no-repeat padding-box;
}

.user-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 95%;
  margin: 0 auto 2vw;
  align-items: flex-end;
}
.user-bar .account-bar {
  display: flex;
  flex-wrap: nowrap;
  gap: 2vw;
  align-items: flex-end;
}
.user-bar .account-bar .user-avatar {
  width: 7.5vw;
  height: 7.5vw;
}
.user-bar .account-bar .user-avatar img {
  width: 100%;
  height: auto;
}
.user-bar .account-bar .user-balance {
  display: flex;
  flex-wrap: wrap;
}
.user-bar .account-bar .user-balance .balance-notif {
  flex: 0 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}
.user-bar .account-bar .user-balance .balance-notif small {
  font-size: 2vw;
  color: var(--dark-bluesh);
}
.user-bar .account-bar .user-balance .amount-label {
  flex: 0 100%;
  font-size: 3vw;
  color: var(--skyblue);
  font-weight: 900;
}
.user-bar .account-bar .user-balance .amount-label .refresh-balance {
  width: 3vw;
  height: 3vw;
  display: inline-block;
  background-image: url(../img/reload.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 0.5vw;
}
.user-bar .myaccount-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 6.5vw;
  align-items: center;
  flex: 1 1;
}
.user-bar .myaccount-menu a {
  text-align: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.user-bar .myaccount-menu a img {
  height: 6vw;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
  text-decoration: none;
}
.user-bar .myaccount-menu a > span {
  color: #30383F;
  text-decoration: none;
  font-size: 2.4vw;
}

.login-body {
  background-color: #082b3f;
  background-image: url(../img/login-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 100vh;
  padding: 5vw;
}
.login-body .translation-bar {
  padding: 5vw 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100%;
}
.login-body .translation-bar .lang-menu {
  top: 7vw !important;
}

.login-wrapper {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
}
.login-wrapper > a {
  flex: 0 16vw;
  background-color: #343233;
  padding: 8vw;
  word-break: break-all;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 2vw 0px 0px 2vw;
}
.login-wrapper .login-form {
  flex: 1;
  padding: 3vw;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 0px 2vw 2vw 0px;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}
.login-wrapper .login-form .form-title {
  font-size: 5vw;
  color: #fff;
  text-align: center;
}

@font-face {
  font-family: "PingFang SC";
  src: url("./fonts/PingFangSCBold.woff2") format("woff2"), url("./fonts/PingFangSCBold.woff") format("woff"), url("./fonts/PingFangSCBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PingFang SC";
  src: url("./fonts/PingFangSCHeavy.woff2") format("woff2"), url("./fonts/PingFangSCHeavy.woff") format("woff"), url("./fonts/PingFangSCHeavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PingFang SC";
  src: url("./fonts/PingFangSCRegular.woff2") format("woff2"), url("./fonts/PingFangSCRegular.woff") format("woff"), url("./fonts/PingFangSCRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PingFang SC";
  src: url("./fonts/SFProPingFangSC-Medium.woff2") format("woff2"), url("./fonts/SFProPingFangSC-Medium.woff") format("woff"), url("./fonts/SFProPingFangSC-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
header {
  position: relative;
  display: block;
  padding: 5px 0;
}
header .header-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
header .header-wrapper .logo-div {
  flex: 60%;
}
header .header-wrapper .logo-div .logo-holder {
  width: 44vw;
  color: transparent;
  background-image: url(../img/logo_app@2x.png);
  height: 11vw;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 40vw;
  margin: 0 auto;
}
header .header-wrapper .right-menu {
  flex: 0 20%;
  display: flex;
  flex-wrap: nowrap;
  gap: 2vw;
  align-items: center;
  justify-content: flex-end;
}
header .header-wrapper .right-menu .login-bar a {
  font-size: 3vw;
  text-decoration: none;
  color: var(--dark-bluesh);
  font-weight: 900;
}
header .header-wrapper .right-menu img {
  height: 5vw;
}
header .header-wrapper .nav-burger-btn {
  flex: 0 20%;
  --burgerline: 0.68vw;
}
header .header-wrapper .nav-burger-btn .burger-btn {
  width: 5vw;
  height: 4vw;
  position: relative;
  display: block;
  background-color: transparent;
}
header .header-wrapper .nav-burger-btn .burger-btn i {
  width: 100%;
  display: block;
  height: var(--burgerline);
  background-color: #30383F;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-radius: 2px;
  transition: all 200ms linear;
}
header .header-wrapper .nav-burger-btn .burger-btn::before {
  content: "";
  width: 100%;
  display: block;
  height: var(--burgerline);
  background-color: #30383F;
  position: absolute;
  top: 0%;
  left: 0;
  border-radius: 2px;
  transition: all 200ms linear;
}
header .header-wrapper .nav-burger-btn .burger-btn::after {
  content: "";
  width: 100%;
  display: block;
  height: var(--burgerline);
  background-color: #30383F;
  position: absolute;
  bottom: 0%;
  left: 0;
  border-radius: 2px;
  transition: all 200ms linear;
}

/*
NAVIGATION
*/
nav {
  position: fixed;
  width: 60vw;
  height: 100%;
  background-color: #fff;
  z-index: 99999;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  padding: 3vw;
  left: -120%;
  transition: all 200ms linear;
}
nav .navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: relative;
}
nav .navigation p {
  text-align: center;
  font-size: 3vw;
}
nav .navigation button {
  position: absolute;
  top: 0;
  right: 0;
  width: 5vw;
  height: 5vw;
  border: none;
  font-size: 3.75vw;
}
nav .navigation .menu-nav {
  padding: 0;
  margin: 8vw 0;
}
nav .navigation .menu-nav li {
  list-style: none;
  padding: 0;
  display: block;
  border-top: 1px solid #F8F8F8;
  border-bottom: 1px solid #F8F8F8;
}
nav .navigation .menu-nav li a {
  display: flex;
  font-size: 3.75vw;
  padding: 3vw 1.2vw;
  color: var(--nav-color-text);
  flex-wrap: nowrap;
  align-items: center;
  gap: 2vw;
}
nav .navigation .menu-nav li a > .icon {
  width: 5vw;
  height: 5vw;
  background-color: var(--dark-bluesh);
  display: inline-block;
}

.translation-div {
  position: relative;
  padding: 0;
}
.translation-div #langToggle {
  width: 5vw;
  height: 5vw;
  display: block;
  background-size: contain;
  transition: all 100ms linear;
  cursor: pointer;
}
.translation-div #langToggle.lang_TH {
  background-image: url(../img/thai_flag.svg);
}
.translation-div #langToggle.lang_MS {
  background-image: url(../img/malay_flag.svg);
}
.translation-div #langToggle.lang_ID {
  background-image: url(../img/indonesia_flag.svg);
}
.translation-div #langToggle.lang_VI {
  background-image: url(../img/vietnam_flag.svg);
}
.translation-div .lang-menu {
  transition: all 140ms ease-in;
  height: 0;
  opacity: 0;
  position: absolute;
  background-color: #fff;
  border-radius: 12px;
  padding: 14px 18px;
  right: 0;
  top: 45px;
  width: 38vw;
  z-index: 99;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}
.translation-div .lang-menu ul {
  margin: 0;
  padding: 0;
}
.translation-div .lang-menu ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #1B4263;
  padding: 5px 0;
}
.translation-div .lang-menu ul li .country-flag {
  width: 5vw;
}
.translation-div .lang-menu ul li .country {
  font-weight: 900;
  font-family: "PingFang SC";
  font-size: 2vw;
}
.translation-div .lang-menu ul li .lang-option {
  font-size: 1.8vw;
  font-family: Arial, Helvetica, sans-serif;
}
.translation-div .lang-menu ul li .lang-option span {
  cursor: pointer;
}
.translation-div .lang-menu ul li .lang-option span.disable {
  cursor: not-allowed;
  color: #9BA9B1;
}
.translation-div .lang-menu .close-lang {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 26px;
  height: 26px;
  background-color: #878787;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

footer {
  background-image: url(../img/app_menubg@2x.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: env(safe-area-inset-bottom);
  height: 13.06vw;
  background-position: left -0.8vw;
  width: 100%;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}
footer .footer-menu {
  display: flex;
  flex-wrap: wrap;
}
footer .footer-menu .footer-menu-items {
  flex: 1;
  position: relative;
  font-size: 2.66667vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark-bluesh);
}
footer .footer-menu .footer-menu-items .menu-icon {
  width: 5.33333vw;
  height: 5.2vw;
  margin-top: 1.4vw;
  margin-bottom: 1vw;
  background-size: contain;
  background-repeat: no-repeat;
}
footer .footer-menu .footer-menu-items .menu-icon.home {
  background-image: url(../img/home_icon@2x.png);
}
footer .footer-menu .footer-menu-items .menu-icon.discount {
  background-image: url(../img/prom_icon@2x.png);
}
footer .footer-menu .footer-menu-items .menu-icon.deposit {
  width: 12vw;
  height: 12vw;
  top: -7.4vw;
  position: absolute;
  background-image: url(../img/deposit_Ani.gif);
  background-color: #fff;
  border-radius: 50%;
  background-position-y: 1vw;
  border: 0.5vw solid rgba(149, 171, 207, 0.5607843137);
  box-shadow: 0vw 1vw 1vw rgba(87, 107, 139, 0.2);
}
footer .footer-menu .footer-menu-items .menu-icon.deposit + .menu-name {
  margin-top: 7.4vw;
}
footer .footer-menu .footer-menu-items .menu-icon.promo {
  background-image: url(../img/Affiliate_icon@2x.png);
}
footer .footer-menu .footer-menu-items .menu-icon.profile {
  background-image: url(../img/my_icon@2x.png);
}
footer .footer-menu .footer-menu-items.active, footer .footer-menu .footer-menu-items:hover {
  cursor: pointer;
}
footer .footer-menu .footer-menu-items.active .home, footer .footer-menu .footer-menu-items:hover .home {
  background-image: url(../img/home_icon_active@2x.png);
}
footer .footer-menu .footer-menu-items.active .discount, footer .footer-menu .footer-menu-items:hover .discount {
  background-image: url(../img/prom_iconHover@2x.png);
}
footer .footer-menu .footer-menu-items.active .deposit, footer .footer-menu .footer-menu-items:hover .deposit {
  background-image: url(../img/deposit_Ani.gif);
}
footer .footer-menu .footer-menu-items.active .promo, footer .footer-menu .footer-menu-items:hover .promo {
  background-image: url(../img/Affiliate_iconHover@2x.png);
}
footer .footer-menu .footer-menu-items.active .profile, footer .footer-menu .footer-menu-items:hover .profile {
  background-image: url(../img/my_iconHover@2x.png);
}
footer .footer-menu .footer-menu-items.active .menu-name, footer .footer-menu .footer-menu-items:hover .menu-name {
  color: var(--skyblue);
}

.banner-slider {
  margin-bottom: 0px !important;
}
.banner-slider img {
  width: 100%;
  height: auto;
}
.banner-slider .slick-dots {
  bottom: 10px;
}
.banner-slider .slick-dots li button:before {
  font-size: 15px;
  opacity: 1 !important;
  color: #fff;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.banner-slider .slick-dots li.slick-active button:before {
  color: var(--skyblue);
}

.main-wrapper {
  padding: 0 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  --defaultSize: 15vw;
}
.main-wrapper .games {
  flex: 1 1;
  padding: 0px;
  height: 100%;
  overflow-y: auto;
  border-radius: 2.66667vw;
  overflow-x: hidden;
}
.main-wrapper .games .games-cards {
  height: 34vw !important;
  border-radius: 2.66667vw;
  position: relative;
  overflow: hidden;
  background-color: var(--columbia-blue);
  margin-bottom: 1vh;
}
.main-wrapper .games .games-cards .game-clients {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-wrapper .games .games-cards .game-clients .game-title {
  font-size: 4.2vw;
  line-height: 17px;
  position: absolute;
  z-index: 2;
  bottom: 16.6vw;
  left: 3.5vw;
  text-transform: uppercase;
  color: #30383F;
  font-weight: 400;
}
.main-wrapper .games .games-cards .game-clients .game-rebate {
  font-size: 3.5vw;
  font-weight: 500;
  line-height: 17px;
  color: #7A8D9F;
  padding: 2vw;
  background: transparent linear-gradient(180deg, #EDF1FC 0%, #E9EDF7 100%) 0% 0%;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.1607843137), 0px 1px 1px rgba(0, 0, 0, 0.1607843137);
  border-radius: 30px;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  bottom: 4.6vw;
  left: 3.5vw;
  z-index: 2;
}
.main-wrapper .games .games-cards .game-clients::after {
  width: 50vw;
  height: 12vw;
  content: "";
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 3vw;
  left: 3vw;
  position: absolute;
}
.main-wrapper .games .games-cards .game-clients.sports::after {
  background-image: url(../img/soprtstext@2x.png);
}
.main-wrapper .games .games-cards .game-clients.slots::after {
  background-image: url(../img/slottext.png);
}
.main-wrapper .games .games-cards .game-clients.live::after {
  background-image: url(../img/livecasinotext.png);
}
.main-wrapper .games .games-cards .game-clients.lotto::after {
  background-image: url(../img/lottotext.png);
}
.main-wrapper .games .games-cards .game-clients.fishing::after {
  background-image: url(../img/fishingtext.png);
}
.main-wrapper .games-menu {
  flex: 0 var(--defaultSize);
  padding: 0px 0;
}
.main-wrapper .games-menu .game-tab {
  width: var(--defaultSize);
  height: var(--defaultSize);
  min-height: 9.6vw;
  background-image: url(../img/leftmenu_bg@2x.png);
  background-size: contain;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  font-size: 2.9vw;
  line-height: 1.2em;
  text-align: center;
  justify-content: center;
  color: #788B9D;
  margin-bottom: 1.33333vw;
}
.main-wrapper .games-menu .game-tab .game-icon {
  width: 6.8vw;
  height: 6.8vw;
  background-size: contain;
  background-position: center;
  margin: 3px auto 0;
  background-repeat: no-repeat;
}
.main-wrapper .games-menu .game-tab .game-icon.fav-icon {
  background-image: url(../img/hotGames.gif);
  background-size: cover;
  background-position: center top;
}
.main-wrapper .games-menu .game-tab .game-icon.slot-icon {
  background-image: url(../img/game_slot@2x.png);
}
.main-wrapper .games-menu .game-tab .game-icon.sports-icon {
  background-image: url(../img/game_sports@2x.png);
}
.main-wrapper .games-menu .game-tab .game-icon.live-icon {
  background-image: url(../img/game_livecasino@2x.png);
}
.main-wrapper .games-menu .game-tab .game-icon.lotto-icon {
  background-image: url(../img/game_lotto@2x.png);
}
.main-wrapper .games-menu .game-tab .game-icon.fish-icon {
  background-image: url(../img/game_fish@2x.png);
}
.main-wrapper .games-menu .game-tab .game-icon.fourD-icon {
  background-image: url(../img/game-4D2x.png);
}
.main-wrapper .games-menu .game-tab.active {
  background-image: url(../img/leftmenu_bg_active@2x.png);
  color: #fff;
}
.main-wrapper .games-menu .game-tab.active .game-icon {
  filter: brightness(0) invert(1);
}
.main-wrapper .games-menu .game-tab.active .game-icon.fav-icon {
  width: 8.8vw;
  height: 8.8vw;
  margin-top: 0;
  filter: unset;
}