/*Default css*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --carolina-blue: #76ABD1ff;
  --celestial-blue: #50A0D5ff;
  --silver-lake-blue: #6289B3ff;
  --columbia-blue: #C1DAF0ff;
  --alice-blue: #EFF7FEff;
  --dark-gray: #333;
  --french-gray: #D1D6DDff;
  --dark-bluesh:#798B9C;
  --skyblue:#4bacff;
  --bg-orginal-color: #E9F5FE;
}

body {
  background-color: var(--bg-orginal-color);
}

.container {
  max-width: 95%;
  margin: 0 auto;
  display: block;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.announcement-sec {
  display: block;
  position: relative;
  z-index: 8;
}

.announcement-bar {
  flex: 1;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  color: var(--dark-bluesh);
  position: relative;
}
.announcement-bar::before {
  content: url(../img/gg_app@2x.png);
  position: absolute;
  left: 0;
}

.right-bar {
  flex: 0 1;
}
.right-bar > a {
  display: block;
}

.page-container {
  overflow-y: auto;
  height: calc(100vh - 15vw);
}

header {
  position: relative;
  display: block;
  padding: 5px 0;
}
header .header-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
header .header-wrapper .logo-div .logo-holder {
  width: 44vw;
  color: transparent;
  background-image: url(../img/logo_app@2x.png);
  height: 11vw;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 40vw;
}
header .header-wrapper .right-menu img {
  height: 5vw;
}

footer {
  background-image: url(../img/app_menubg@2x.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-bottom: env(safe-area-inset-bottom);
  height: 13.06vw;
  background-position: left -0.8vw;
  width: 100%;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}
footer .footer-menu {
  display: flex;
  flex-wrap: wrap;
}
footer .footer-menu .footer-menu-items {
  flex: 1;
  position: relative;
  font-size: 2.66667vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark-bluesh);
}
footer .footer-menu .footer-menu-items .menu-icon {
  width: 5.33333vw;
  height: 5.33333vw;
  margin-top: 1.06667vw;
  margin-bottom: 1vw;
  background-size: cover;
}
footer .footer-menu .footer-menu-items .menu-icon.gaming {
  background-image: url(../img/app_gaming@2x.png);
}
footer .footer-menu .footer-menu-items .menu-icon.bet-list {
  background-image: url(../img/app_betlist@2x.png);
}
footer .footer-menu .footer-menu-items .menu-icon.home {
  width: 12vw;
  height: 12vw;
  top: -6.4vw;
  position: absolute;
  background-image: url(../img/app_home@2x.png);
}
footer .footer-menu .footer-menu-items .menu-icon.home + .menu-name {
  margin-top: 7.4vw;
}
footer .footer-menu .footer-menu-items .menu-icon.prom {
  background-image: url(../img/app_prom@2x.png);
}
footer .footer-menu .footer-menu-items .menu-icon.profile {
  background-image: url(../img/app_my@2x.png);
}
footer .footer-menu .footer-menu-items.active .gaming {
  background-image: url(../img/app_gaming_active@2x.png);
}
footer .footer-menu .footer-menu-items.active .bet-list {
  background-image: url(../img/app_betlist_active@2x.png);
}
footer .footer-menu .footer-menu-items.active .home {
  background-image: url(../img/app_home_hover@2x.png);
}
footer .footer-menu .footer-menu-items.active .prom {
  background-image: url(../img/app_prom_active@2x.png);
}
footer .footer-menu .footer-menu-items.active .profile {
  background-image: url(../img/app_my_active@2x.png);
}

.banner-slider img {
  width: 100%;
  height: auto;
}

.main-wrapper {
  padding: 6px 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  --defaultSize: 15vw;
}
.main-wrapper .games {
  flex: 1 1;
  padding: 0px;
  height: 100%;
  overflow-y: auto;
  border-radius: 2.66667vw;
  overflow-x: hidden;
}
.main-wrapper .games .games-cards {
  height: 34vw !important;
  border-radius: 2.66667vw;
  position: relative;
  overflow: hidden;
  background-color: var(--columbia-blue);
  margin-bottom: 1vh;
}
.main-wrapper .games .games-cards .game-clients {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-wrapper .games-menu {
  flex: 0 var(--defaultSize);
  padding: 0px 0;
}
.main-wrapper .games-menu .game-tab {
  width: var(--defaultSize);
  height: var(--defaultSize);
  min-height: 9.6vw;
  background-image: url(../img/leftmenu_bg@2x.png);
  background-size: contain;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  font-size: 2.8vw;
  text-align: center;
  justify-content: center;
  color: #788B9D;
  margin-bottom: 1.33333vw;
}
.main-wrapper .games-menu .game-tab .game-icon {
  width: 6.8vw;
  height: 6.8vw;
  background-size: contain;
  background-position: center;
  margin: 3px auto 0;
  background-repeat: no-repeat;
}
.main-wrapper .games-menu .game-tab .game-icon.fav-icon {
  background-image: url(../img/game_fav.svg);
  background-size: 130%;
  background-position: center top;
}
.main-wrapper .games-menu .game-tab .game-icon.slot-icon {
  background-image: url(../img/game_slot@2x.png);
}
.main-wrapper .games-menu .game-tab .game-icon.sports-icon {
  background-image: url(../img/game_sports@2x.png);
}
.main-wrapper .games-menu .game-tab .game-icon.live-icon {
  background-image: url(../img/game_livecasino@2x.png);
}
.main-wrapper .games-menu .game-tab .game-icon.lotto-icon {
  background-image: url(../img/game_lotto@2x.png);
}
.main-wrapper .games-menu .game-tab .game-icon.fish-icon {
  background-image: url(../img/game_fish@2x.png);
}
.main-wrapper .games-menu .game-tab.active {
  background-image: url(../img/leftmenu_bg_active@2x.png);
  color: #fff;
}
.main-wrapper .games-menu .game-tab.active .fav-icon {
  background-image: url(../img/game_fav_hover.svg);
}
.main-wrapper .games-menu .game-tab.active .slot-icon {
  background-image: url(../img/game_slot__hover@2x.png);
}
.main-wrapper .games-menu .game-tab.active .sports-icon {
  background-image: url(../img/game_sports_hover@2x.png);
}
.main-wrapper .games-menu .game-tab.active .live-icon {
  background-image: url(../img/game_livecasino__hover@2x.png);
}
.main-wrapper .games-menu .game-tab.active .lotto-icon {
  background-image: url(../img/game_lotto_hover@2x.png);
}
.main-wrapper .games-menu .game-tab.active .fish-icon {
  background-image: url(../img/game_fish__hover@2x.png);
}