@font-face {
  font-family: "PingFang SC";
  src: url("/css/fonts/PingFangSCBold.woff2") format("woff2"), url("/css/fonts/PingFangSCBold.woff") format("woff"), url("/css/fonts/PingFangSCBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PingFang SC";
  src: url("/css/fonts/PingFangSCHeavy.woff2") format("woff2"), url("/css/fonts/PingFangSCHeavy.woff") format("woff"), url("/css/fonts/PingFangSCHeavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PingFang SC";
  src: url("/css/fonts/PingFangSCRegular.woff2") format("woff2"), url("/css/fonts/PingFangSCRegular.woff") format("woff"), url("/css/fonts/PingFangSCRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PingFang SC";
  src: url("/fonts/SFProPingFangSC-Medium.woff2") format("woff2"), url("/fonts/SFProPingFangSC-Medium.woff") format("woff"), url("/fonts/SFProPingFangSC-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}